body {
    margin-left: 200px;
    margin-right: 200px;
}

h1 {
    background-color: #0a0a70;
    font-family: "Open Sans";
    color: white;
    padding: 25px; 
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: aquamarine;
    margin-top: -8px;
}

h2 {
    font-family: "Oswald";
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

img {
    max-width: 100%;
    height: auto;
}

.flex-item {
    max-width: 30%;
    padding: 5px;
}

.dog-label {
    padding: 1px;
    margin: 1px;
}

.flex-item > ul {
    list-style-type: none;
    padding: 0px;
    font-size: small;
    
}

.flex-item > ul > li {
    border-radius: 14px;
    background-color: rgb(142, 203, 243);
    display: inline-block;
    padding: 3px;
    margin: 2px;
}











