body { 
    margin-left: 200px;
    margin-right: 200px;
}

h3 {font-family: Oswald;
}

h1 { 
    background-color: rgb(5, 5, 107);
    font-family: "Open Sans";
    color: rgb(255,255,255);
    padding: 25px;
    margin-top: 0px;
    border-bottom-style: solid;
    border-bottom-color: skyblue;
    border-bottom-width: 3px;

}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex start;
    
}

img {
    max-width: 175px;
    height: auto;
}

.flex-container > img {
    max-width: 30%;
    padding: 5px;
}






